<div class="main">
  <div class="profile" [ngClass]="{'inactive' : informationValue !== 1}">
    <span> profile funciona</span>
  </div>

  <div class="tech" [ngClass]="{'inactive' : informationValue !== 2}">
      <span> tech funciona</span>
  </div>

  <div class="experience" [ngClass]="{'inactive' : informationValue !== 3}">
      <span> experience funciona</span>
  </div>

  <div class="education" [ngClass]="{'inactive' : informationValue !== 5}">
      <span> education funciona</span>
  </div>

  <div class="skills" [ngClass]="{'inactive' : informationValue !== 4}">
      <span> skills funciona</span>
  </div>

  <div class="github" [ngClass]="{'inactive' : informationValue !== 6}">
      <span> github funciona</span>
  </div>
</div>
