<div class="sidebar">
  <div class="logo">
    <a routerLink="">
      <img src="../../assets/angular.png">
    </a>
  </div>
  <div class="menu">

    <ul class="listado">
      <li [ngClass]="{'current': id === 1}" id="1" (click)="addClass(id=1)" class="itemlist">01</li>
      <li [ngClass]="{'current': id === 2}" id="2" (click)="addClass(id=2)" class="itemlist">02</li>
    </ul>

    <div class="logo">
      <a href="https://www.linkedin.com/in/fermin-robilotte-82a889149/" target="_blank">
        <img src="../../assets/58e91afdeb97430e81906504.png">
      </a>
    </div>

  </div>
</div>