
<div class="main">
  <div class="home">
    <div class="home-top">
      <div class="profile-picture">
        <img src="../../assets/profile.jpg">
      </div>
      <div class="profile-intro">
        <div class="intro-content">
          <h1>Fermin Robilotte</h1>
          <div class="separador">
            <div class="loader"></div>
          </div>
          <h3>Fullstack developer</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae nisi omnis, sit incidunt reprehenderit facilis,
            repellendus cumque nihil natus illo impedit enim esse ipsum deleniti exercitationem doloribus recusandae aperiam ipsa.</p>
          <div class="intro-cv">
              <a href="../../assets/CV Fermin Robilotte.pdf" target="_blank">
                <span>Descargar CV</span>
                <i class="fas fa-download"></i>
              </a>  
          </div>
        </div>
      </div>
    </div>
    <div class="home-bottom">
      <div class="cards-container">
        <a class="card">
          <div class="flex-content">
              <i class="fas fa-user"></i>
              <h2 class="tittle">Perfil</h2>
              <span class="arrow"></span>
              <div class="loader"></div>
              <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem illo cupiditate eius est dolores aliquam quas, nulla ad molestias,
                 excepturi ratione enim rem illum quae totam amet sunt! Hic, perferendis.</p>
          </div>
        </a>
        <a class="card">
          <div class="flex-content">
              <i class="fas fa-user-graduate"></i>
              <h2 class="tittle">Educacion</h2>
              <span class="arrow"></span>
              <div class="loader"></div>
              <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem illo cupiditate eius est dolores aliquam quas, nulla ad molestias,
                 excepturi ratione enim rem illum quae totam amet sunt! Hic, perferendis.</p>
          </div>
        </a>
        <a class="card">
          <div class="flex-content">
              <i class="fas fa-user-tie"></i>
              <h2 class="tittle">Experiencia laboral</h2>
              <span class="arrow"></span>
              <div class="loader"></div>
              <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem illo cupiditate eius est dolores aliquam quas, nulla ad molestias,
                 excepturi ratione enim rem illum quae totam amet sunt! Hic, perferendis.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>