<div class="main">
  <div class="home">
    <div class="home-top">
      <div class="profile-picture">
        <img src="../../assets/profile.jpg">
      </div>
      <div class="profile-intro">
        <div class="intro-content">
          <h1>Fermin Robilotte</h1>
          <div class="separador">
            <div class="loader"></div>
          </div>
          <h3>Fullstack developer</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae nisi omnis, sit incidunt reprehenderit facilis,
            repellendus cumque nihil natus illo impedit enim esse ipsum deleniti exercitationem doloribus recusandae aperiam ipsa.</p>
          <div class="intro-cv">
              <a href="../../assets/CV Fermin Robilotte.pdf" target="_blank">
                <span>Descargar CV</span>
              </a>  
          </div>
        </div>
      </div>
    </div>
    <div class="home-bottom"></div>
  </div>
</div>