<div class="main">
  <div class="home">
    <div class="home-top">
      <div class="profile-picture">
        <img src="../../assets/profile.jpg">
      </div>
      <div class="profile-intro">
        <div class="intro-content">
          <h1>FERMIN ROBILOTTE</h1>
          <div class="separador">
            <div class="loader"></div>
          </div>
          <h3>Fullstack developer</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae nisi omnis, sit incidunt reprehenderit facilis,
            repellendus cumque nihil natus illo impedit enim esse ipsum deleniti exercitationem doloribus recusandae aperiam ipsa.</p>
          <div class="intro-cv">
              <a href="../../assets/CV Fermin Robilotte.pdf" target="_blank">
                <span>Descargar CV</span>
                <i class="fas fa-download"></i>
              </a>  
          </div>
        </div>
      </div>
    </div>
    <div class="home-bottom">
      <div class="cards-container">
        <a [ngClass]="{'card': id === 1, 'inactive' : id !== 1}" (click)="getInformationValue(value=1)" routerLink="/information-page"
            class="card1">
          <div class="flex-content">
              <i class="fas fa-user"></i>
              <h2 class="tittle">Perfil</h2>
              <span class="arrow"></span>
              <div class="loader"></div>
              <p class="text">Informacion basica y de contacto</p>
          </div>
        </a>
        <a [ngClass]="{'card': id === 1, 'inactive' : id !== 1}" (click)="getInformationValue(value=2)" routerLink="/information-page"
            class="card2">
          <div class="flex-content">
              <i class="fas fa-code"></i>
              <h2 class="tittle">Tecnologias</h2>
              <span class="arrow"></span>
              <div class="loader"></div>
              <p class="text">Lenguajes de programacion, y frameworks en los que tengo conocimiento. Cuales son los que utilizo actualmente</p>
          </div>
        </a>
        <a [ngClass]="{'card': id === 1, 'inactive' : id !== 1}" (click)="getInformationValue(value=3)" routerLink="/information-page"
            class="card3">
          <div class="flex-content">
              <i class="fas fa-user-tie"></i>
              <h2 class="tittle">Experiencia laboral</h2>
              <span class="arrow"></span>
              <div class="loader"></div>
              <p class="text">Experiencia laboral. Empresas donde he trabajado y que puesto he desempeñado</p>
          </div>
        </a>
        <a [ngClass]="{'card': id === 2, 'inactive' : id !== 2}" (click)="getInformationValue(value=4)" routerLink="/information-page"
            class="card1">
            <div class="flex-content">
                <i class="fas fa-list-ol"></i>
                <h2 class="tittle">Habilidades a destacar</h2>
                <span class="arrow"></span>
                <div class="loader"></div>
                <p class="text">Habilidades principales sobre mi forma de desarrollarme en un ambiente profesional. Idiomas que hablo</p>
            </div>
          </a>
          <a [ngClass]="{'card': id === 2, 'inactive' : id !== 2}" (click)="getInformationValue(value=5)" routerLink="/information-page"
              class="card2">
              <div class="flex-content">
                  <i class="fas fa-user-graduate"></i>
                  <h2 class="tittle">Educacion</h2>
                  <span class="arrow"></span>
                  <div class="loader"></div>
                  <p class="text">Formacion academica recibida y actualmente en curso</p>
              </div>
            </a>
            <a [ngClass]="{'card': id === 2, 'inactive' : id !== 2}" (click)="getInformationValue(value=6)" routerLink="/information-page"
                class="card3">
                <div class="flex-content">
                    <i class="fab fa-github-square"></i>
                    <h2 class="tittle">Github</h2>
                    <span class="arrow"></span>
                    <div class="loader"></div>
                    <p class="text">Listado con mis repositorios en mi cuenta de GitHub</p>
                </div>
              </a>
      </div>
    </div>
  </div>
</div>