.main{
    height: 100%;
    position: relative;
    z-index: 50;
    float: right;
    margin-left: 100px;

    .home{
        width: 100%;
        position: relative!important;
        -webkit-transform: scale(1)!important;
        transform: scale(1)!important;
        opacity: 1;
        visibility: visible;

        &-top{

            height: 50vh;
            border-bottom: 1px solid #d8d8d8;
            display: flex;
            align-items: center;
            width: 100%;

            .profile-picture{
                width: 33.333%;
                position: relative;
                height: 50vh;
                overflow: hidden;
                
                img{
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    -webkit-transform: scale3d(1,1,1);
                    transform: scale3d(1,1,1);
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    transition: all 1s;
                }
            }

            .profile-intro{
                padding: 30px;
                overflow: hidden;
                padding: 70px 70px;
                position: relative;
                width: 66.66%;
                height: 50vh;

                .intro-content{
                    -webkit-transform-origin: 0 0;
                    transform-origin: 0 0;
                    min-height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;

                    h1{
                        font-size: 40px;
                        color: #7846AA;
                        font-weight: 400;
                        letter-spacing: 1px;
                        position: relative;
                    }

                    h3{
                        margin: 0px 0px 10px 0px;
                        font-size: 20px;
                        line-height: 16px;
                        width: 100%;
                    }

                    p{
                        margin: 0px 0px 10px 0px;
                        font-size: 18px;
                        color: #5c5c5c;
                        font-weight: 300;
                        line-height: 24px;
                    }

                    .separador{
                        position: relative;
                        width: 100%;
                        overflow: hidden;

                        .loader{
                            height: 7px;
                            width: 30px;
                            position: relative;
                            background: #afafaf;
                            margin-top: 15px;
                            margin-bottom: 20px;
                        }
                    }

                    .intro-cv{

                        a{
                            font-size: 20px;
                            color: #9a9a9a;
                            text-transform: uppercase;
                            display: inline-block;
                            overflow: hidden;
                            margin-top: 17px;
                            transition: all .8s;
                            text-decoration: none;

                            i{
                                height: 60px;
                                width: 54px;
                                float: left;
                                margin-left: -10px;
                                padding-top: 15px;
                            }

                            span{
                                margin-top: 0;
                                float: left;
                                margin-right: 24px;
                                font-size: 16px;
                                padding-top: 17px;
                            }

                            &:hover{
                                color: #7846AA;
                                transition: all .8s;
                            }
                        }
                    }
                }
            }
        }

        &-top:hover{
            .profile-picture{

                img{
                    -webkit-transform: scale3d(1.1 ,1.1,1);
                    transform: scale3d(1.1 ,1.1,1);
                }
            }
        }

        &-bottom{

            height: 50vh;
            border-bottom: 1px solid #ebebeb;
            display: flex;
            align-items: center;
            width: 100%;

            .cards-container{

                .inactive{
                    visibility: hidden;
                    opacity: 0;
                }

                .card{
                    float: left;
                    width: 33.33%;
                    padding: 70px 70px;
                    height: 50vh;
                    text-decoration: none;
                    bottom: 0;
                    position: absolute;
                    visibility: visible;
                    opacity: 1;
                    transition-property: opacity,visibility,-webkit-transform;
                    transition-property: opacity,visibility,transform;
                    transition-property: opacity,visibility,transform,-webkit-transform;
                    transition-duration: 2s;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transform-origin: left center;
                    transform-origin: left center;
                    
                    .flex-content{
                        -webkit-transform-origin: 0 0;
                        transform-origin: 0 0;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;

                        .tittle{
                            margin: 0;
                            font-size: 30px;
                            text-align: left;
                            font-weight: 400;
                            display: inline;
                            text-transform: uppercase;
                            color: black;
                        }

                        i{
                            font-size: 80px;
                            color: #9B9B9B;
                            margin-right: 100%;
                            margin-bottom: 20px;
                        }

                        .loader{
                            height: 7px;
                            width: 30px;
                            position: relative;
                            background: #afafaf;
                            margin-top: 15px;
                        }

                        .arrow{
                            position: relative;
                            top: -13px;
                            right: -26px;

                            &::before{
                                width: 10px;
                                height: 1px;
                                background: 0 0;
                                position: absolute;
                                top: 8px;
                                left: 19px;
                                content: '';
                                transition: all .3s;
                            }
                            &::after{
                                width: 0;
                                height: 0;
                                border-top: 8px solid transparent;
                                border-bottom: 7px solid transparent;
                                border-left: 11px solid #ccc;
                                position: absolute;
                                top: 1px;
                                left: 23px;
                                content: '';
                                transition: all .3s;

                            }
                        }

                        p{
                            margin: 0;
                            position: relative;
                            font-size: 18px;
                            text-align: left;
                            display: block;
                            color: #5c5c5c;
                            font-weight: 300;
                            margin-top: 15px;
                            line-height: 26px;
                        }
                    }

                    &:hover{

                        .flex-content{

                            i{
                                color: #7846AA;
                                transition: all .8s;

                            }

                            .arrow{

                                &::before{
                                    width: 27px;
                                    transition: all .3s;
                                    background: #7846AA;
                                    left: 4px;
                                }
                                &::after{
                                    border-left: 10px solid #7846AA;
                                    left: 30px;
                                    transition: all .3s;
                                }
                            }
                        }
                    }
                }

                .card1{
                    left: 0;
                }
                .card2{
                    left: 33.333%;
                }
                .card3{
                    left: 66.666%;
                }

                

            }

            .cards-container::before {
                left: 33.333%;
            }

            .cards-container::after {
                left: 66.666%;
            }

            .cards-container::after, .cards-container::before{
                background-color: #d8d8d8;
                width: 1px;
                height: calc(50vh + 1px);
                bottom: 0;
                position: absolute;
                display: block;
                content: '';
                z-index: 555;
                opacity: 1;
                transition: all 1s;
            }
        }

    }


}

/* Media queries */

@media (max-width: 1005px) {
    .main{
        margin-left: 50px;
        overflow-x: scroll;
        height: 100vh;

        .home{

            &-top{
                height: auto;
                display: block;

                .profile-picture{
                    width: 100%;
                    height: auto;

                    img{
                        position: relative;
                        left: auto!important;
                        top: auto!important;
                        right: auto!important;
                        bottom: auto!important;
                        width: 100%;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }

                .profile-intro{
                    width: 100%;
                    height: auto;
                    padding-bottom: 15px;

                    .intro-content{
                        -webkit-transform-origin: 0 0;
                        transform-origin: 0 0;
                        min-height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;

                        h1{
                            font-size: 30px;
                        }

                        p{
                            margin-bottom: 20px;
                        }

                        .intro-cv{

                            a{
                                margin-top: 0;
                            }
                        }
                    }
                }
            }

            &-bottom{
                padding-top: 20px;
                height: auto;

                .cards-container{

                    .inactive{
                        display: none;
                    }
                    .card{
                        width: 100%;
                        position: relative;
                        left: auto!important;
                        height: auto;
                        display: block!important;
                        -webkit-transform: none!important;
                        transform: none!important;
                        opacity: 1!important;
                        visibility: visible!important;
                        border-bottom: 1px solid #d8d8d8;
                    }

                    &::after, &::before{
                        display: none;
                    }
                }
            }
        }
    }
}