*{
    box-sizing: border-box;
}

body{
    margin: 0px !important;
    font-family: Oswald,sans-serif;
    background-color: #F0F0F0;
}

p{
    font-family: 'Open Sans',sans-serif;
}

h1{
    margin: 0 0 10px 0;
}